.navImg {
    width: 100px;
    border-radius: 30%;
}

.nav-link {
    color: white;

}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gray;
}

.btn a:hover{
    color: white;
}





