body{
    background-image: linear-gradient(79deg, #a73e1e,  #184164, 48%, #4b062e);
}

section{
    margin: 2%;
    
}

.col{
    height: 50%;
}


.card{
    padding:50px;
    padding-bottom: 0%;
    
}

.card-body{
    text-align: center;
}

.card-link{
    display: inline-block;
    text-align: center;    
    padding: 1rem ;
    color: black;
    font-weight: 500;
    font-size: 1px 1.8px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    margin-left: 25% ;
    margin-right: 25%;
}



.card-link:hover{
    background-color: rgb(186, 126, 243);
    color: rgb(5, 5, 5);
    border: 1px solid white;
    border-radius: 5%;
}

.card-linkk{
    margin-left: 10%;
    margin-right: 10%;
}
