section{
    margin: 2%;
    
    
}

.col{
    height: 50%;
}

.card{
    text-align: center;
    padding: 50px;
    
}



.card-link{
    display: inline-block;
    text-align: center;    
    padding: 1rem ;
    color: black;
    font-weight: 500;
    font-size: 1px 1.8px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    margin-left: 30%;
    margin-right: 30%;
    
}

.card-link:hover{
    
    color: white;
    border: 1px solid white;
}

.card-linkk{
    margin-left: 10%;
    margin-right: 10%;
}
